// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import "node_modules/font-awesome/scss/font-awesome";

// Data Tables
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

// AdminLTE
@import "node_modules/admin-lte/dist/css/AdminLTE";
@import "node_modules/admin-lte/dist/css/skins/_all-skins";

@import "resources/sass/custom-icons";

@import "node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar";


.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .row.flex-reverse{
        flex-direction: column-reverse;
    }
}

.actions-wrapper{
    form{
        display: inline-block;
    }
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.files{
    .file-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3px;
    }
}

.dropzone{
    .dz-default{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed;
    }
}

.panel-body{
    padding: 10px;
}

.room-users-block-title{
    margin-top: 0;
}

.private-room-list{
    padding: 0;
    margin: 0;
}

.enter-message-block{
    margin-top: 20px;
}

.panel-heading.custom-background{
    background: #fafafa;
}

.timer {
    font-size: 14px;
    color: #000;
    text-align:center;

    .day, .hour, .min, .sec {
        font-size: 18px;
        display: inline-block;
        font-weight: 500;
        text-align: center;
        margin: 0 5px;
        .format {
            font-weight: 300;
            font-size: 14px;
            opacity: 0.8;
            width: 60px;
        }
    }
    .number{
        background: rgb(234, 234, 234);
        padding: 0 5px;
        border-radius: 5px;
        display: inline-block;
        width: 60px;
        text-align: center;
    }
    .message {
        font-size: 14px;
        font-weight: 400;
        margin-top: 5px;
    }
    .status-tag{
        text-align: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 18px;

        .circle{
            width: 17px;
            height: 17px;
        }

        &.upcoming{
            .circle{
                background: #f39c12;
            }
        }
        &.running{
            .circle{
                background: #50d8af;
            }
        }
        &.expired{
            .circle{
                background: #d9534f;
            }
        }
    }
}

#media-div{
    width: 100%;
    height: 100%;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/*--------------------------------------------------------------
# Backend different fixes
--------------------------------------------------------------*/
textarea {
    resize: none;
}


.button_right_shift {
    margin-right: 10px;
}
span#hashpassword {
    vertical-align: bottom;
}

html, body {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
}
.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    text-align: center;
    width: 1.6rem;
    font-size: 1.2rem;
    margin-right: .2rem;
}

.skin-black-light .sidebar-menu > li > a {
    white-space: normal;
}

.logo {
    h1 {
        color: #0c2e8a;
        line-height: 1;
        display: inline-block;
        font-size: 24px;
        margin: 0;
        padding-top: 12px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
    }

    .logo-mini {
        padding-top: 15px;
    }

    span {
        color: #50d8af;
    }
}
.content-wrapper {
    background-color: #f8f8f8;
}
.skin-black-light .left-side, .skin-black-light .main-sidebar, .skin-black-light .wrapper {
    background-color: #fff;
}
.skin-black-light .sidebar a {
    color: #0c2e8a;
}
.skin-black-light .sidebar-menu > li.active > a, .skin-black-light .sidebar-menu > li:hover > a {
    color: #071d5a;
}
@media (max-width: 767px) {
    .logo {
        h1 {
            color: #fff;
            padding-top: 10px;
        }
    }

    .skin-black-light .main-header > .logo {
        background-color: #0c2e8a;
    }
}

.types-of-studies-select2-wrapper .select2.select2-container{
    width: 100% !important;
}

.select2 {
    width:100%!important;
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
    left: 0px;
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
    top: 15px;
    left: 0px;
}

table.dataTable.table-condensed td,
table.dataTable.table-condensed th {
    padding-left: 20px;
}

table.dataTable thead .sorting:after {
    opacity: 0;
}

table.dataTable.table-condensed .sorting:hover:after {
    opacity: 0.2 !important;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dashboard .box-header {
    //min-height: 5rem;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    font-size: 1.5rem;
}
.box-title-icon{
    margin-top: 0.6rem;
}
.box-title-bar{
    margin-top: 1.4rem;
}
.box-title-bar-text{
    margin-top: 0.4rem;
}
.box-title-bar .progress,
.box-title-bar-text .progress
{
    margin-bottom: 0;
}
.dashboard-fixed-height {
    height: 230px;
    max-height: 230px;

    &.longer{
        height: 370px;
        max-height: 370px;
    }
    &.longer-big-header{
        height: 325px;
        max-height: 325px;
    }
}

/*
Trial Invitation
*/
#selected_sponsors_table, #selected_sites_table {
    .icheckbox_flat-green {
        margin-right: 10px;
    }
}

.button-block {
    display: flex;
}

.import-box {
    padding: 10px;
}

.form-groups {
    margin-right: -15px;
}

/*--------------------------------------------------------------
# Custom blocks
--------------------------------------------------------------*/
.custom-table-header{
    padding: 10px 10px 5px 10px;
    font-size: 13px;
    color: #c0c0c0;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 7px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-status{
        width: 20px;
    }

    &-title{
        width: 300px;
        padding: 0 10px;
    }

    &-subscription{
        width: 100%;
        padding: 0 15px;
    }

    &-more{
        width: 50px;
    }

    &-show{
        width: 30px;
    }
}

.box-header-title{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}

.trial-operations{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;

    &-operation{
        width: 50%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        padding: 0 35px;

        p{
            text-align: center;
        }

        &-icon{
            margin: 10px 0;

            .icon{
                width: 75px;
                height: 75px;
                border: 2px dashed;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    font-size: 35px;
                }
            }
        }

        &.operation-create{
            position: relative;

            .deliver{
                position: absolute;
                right: 0;
                top: 50%;
                height: 200px;
                width: 1px;
                background: #eeeeee;
                transform: translateY(-50%);
            }

            .icon{
                border-color: #50d8af;
                color: #50d8af;
            }
        }

        &.operation-import{
            .icon{
                border-color: #0c2e8a;
                color: #0c2e8a;
            }
        }

        &-short{
            p{
                font-size: 13px;
                height: 70px;
                overflow: hidden;
            }
        }

        &-button{
            width: 100%;
            margin-top: 35px;
        }
    }
}

.pretty-blocks{
    &-block{
        padding: 5px 5px 5px 25px;
        display: flex;
        align-items: center;
        background: #fafafa;
        margin-bottom: 10px;
        border-radius: 15px;

        &:last-child{
            margin-bottom: 0;
        }

        &.accordion{
            flex-direction: column;
            padding: 0;
            background: white;

            &.open{
                .pretty-wrapper{
                    background: #ffffff;
                }

                .pretty-info{
                    display: block;
                    background: #fafafa;
                }

                .pretty-blocks-block-arrow{
                    span{
                        transform: rotate(-135deg);
                        -webkit-transform: rotate(-135deg);

                        margin-bottom: -4px;

                        border: solid #5a80fe;
                        border-width: 0px 3px 3px 0;
                    }
                }

                &:hover, &.active{
                    color: #000;

                    .pretty-wrapper{
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    .pretty-info{
                        border-top-right-radius: 0;
                        border-top-left-radius: 0;

                        color: #d1d1d1;
                    }

                    p{
                        color: #000;
                    }

                    .pretty-wrapper{
                        background: #fff;
                    }
                }
            }

            &:hover, &.active{
                cursor: pointer;
                background: transparent;
                color: #000;

                p{
                    color: #000;
                }

                .pretty-wrapper{
                    background: #fafafa;
                }
            }

            .pretty-blocks-block-arrow{
                width: 30px;

                &.down{
                    span{
                        margin-top: -4px;
                    }
                }
            }

            .pretty-wrapper{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                background: #fafafa;
                padding: 10px;
                border-top: 1px solid #fafafa;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;

                .pretty-blocks-block-circle{
                    width: 20px;
                }

                .pretty-blocks-block-title{
                    width: 300px;
                }

                .pretty-blocks-block-subscribtion{
                    width: 100%;
                    padding: 0 15px;
                }

                .pretty-blocks-block-men{
                    width: 50px;
                }
            }

            .pretty-info{
                display: none;
                background: white;
                width: 100%;
                padding: 10px;
                color: #d1d1d1;

                border-bottom: 1px solid #fafafa;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;

                &-wrapper{
                    span{
                        margin-right: 10px;
                        font-size: 13px;
                    }
                }
            }
        }

        &:hover, &.active{
            cursor: pointer;
            background: #577efe;
            color: #fff;

            p{
                color: #fff;
            }

            .pretty-blocks-block-arrow{
                span{
                    border: solid #e6e6e6;
                    border-width: 0px 3px 3px 0;
                }
            }
        }

        &-circle{
            width: 20px;
        }

        &-title{
            width: 100%;
            padding: 0 10px;
        }

        &-user-status{
            margin-right: 15px;
        }

        &-arrow{
            width: 30px;
            height: 21px;

            span{
                border: solid #e6e6e6;
                border-width: 0px 3px 3px 0;
                display: inline-block;
                padding: 5px;

                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }

            &.down{
                span{
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
        }
    }
}

.trial-box-header{
    width: 100%;

    p{
        font-size: 13px;
    }

    &-id{
        color: #c0c0c0;
    }

    &-info{
        font-weight: bold;
        height: 65px;
        overflow: hidden;
        padding-right: 5px;
    }
}

.trial-info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    p{
        font-size: 13px;
    }
}

.trial-info-content{
    height: 115px;
    overflow: hidden;
    margin-bottom: 15px;

    p{
        font-size: 13px;
        text-align: justify;
    }
}

.trial-info-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        font-size: 13px;
    }
}

.trial-box-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .not-complete{
        width: 260px;

        p{
            font-size: 12px;
        }
    }
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #577efe;
    border-color: #577efe;
    padding: 1px 10px;
    color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
}
.select2-container--default .select2-results__option[aria-selected=false] {
    background-color: #577efe;
}

.filter-block{
    padding-top: 35px;
    border-top: 1px solid #f3f3f3;

    &-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        margin-bottom: 11px;

        .form-check{
            margin-right: 20px;

            .iCheckCustomBlueCheckbox{
                margin-right: 2px;
            }

            label{
                font-size: 14px;
            }
        }

        p{
            margin-right: 20px;
        }

        .slider.slider-horizontal{
            width: 100%;
        }
    }
}

.sponsor-cabinet-wrapper{
    width: 300px;
    margin-left: 20px;
}

.sponsor-cabinet{
    background: #eaeaea;
    height: 32px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    a{
        text-align: center;
        width: 30%;
        padding: 6px 7px;
        height: 32px;
        display: inline-block;
        color: #6a6a6a;
        text-decoration: none;

        &:hover:not(active-element){
            background: #eaeaea !important;
            cursor: pointer;
        }

        &.active-element{
            background-color: #376bff;
            color: #fff;
            border-radius: 15px;

            &:hover{
                background-color: #376bff !important;
            }
        }

        &.left{
            &:hover:not(active-element){
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }

            &.active-element{
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
        }

        &.right{
            &:hover:not(active-element){
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            &.active-element{
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}

.custom-sponsor-tabs-item:not(.active){
    display: none;
}

.custom-sponsor-tabs-item.active{
    display: block;
}

.filter-sponsor-block{
    input{
        border: 1px solid #ccc;
        border-radius: 7px;
        height: 32px;
        padding-left: 15px;
        outline: none;
        width: 200px;
    }
}

.custom-sponsor-tabs{
    label{
        font-size: 13px;
        font-weight: bold;
    }

    textarea {
        resize: none;
    }

    .form-group{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.iCheckCustomBlueCheckbox{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    margin-right: 10px;

    &.iCheckCustomBlueChecked{
        border: 1px solid #577efe;

        & + label{
            color: #577efe;
        }

        &::after{
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background: #577efe;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            pointer-events: none;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}

.trial-gender-wrapper{
    margin-top: 27px;
}

.trial-gender{
    background: #eaeaea;
    height: 32px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    a{
        text-align: center;
        width: 30%;
        padding: 6px 7px;
        height: 32px;
        display: inline-block;
        color: #6a6a6a;
        text-decoration: none;

        &:hover:not(active-element){
            background: #eaeaea !important;
            cursor: pointer;
        }

        &.active-element{
            background-color: #376bff;
            color: #fff;
            border-radius: 15px;

            &:hover{
                background-color: #376bff !important;
            }
        }

        &.left{
            &:hover:not(active-element){
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }

            &.active-element{
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
        }

        &.right{
            &:hover:not(active-element){
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            &.active-element{
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}

.trial-filter-age-wrapper{
    margin-top: 25px;
    margin-bottom: 35px;

    .trial-filter-age{
        text-align: center;

        .slider{
            &.slider-horizontal{
                width: 94%;
            }
        }
    }
}

.sponsor-site-toggle{
    margin: 0 10px;
    background: #eaeaea;
    height: 32px;
    border-radius: 15px;

    a{
        text-align: center;
        width: 100px;
        padding: 6px 20px;
        height: 32px;
        display: inline-block;
        color: #6a6a6a;
        text-decoration: none;

        &:hover:not(active-element){
            background: #eaeaea !important;
            cursor: pointer;
        }

        &.active-element{
            background-color: #376bff;
            color: #fff;
            border-radius: 15px;

            &:hover{
                background-color: #376bff !important;
            }
        }

        &.left{
            &:hover:not(active-element){
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }

            &.active-element{
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
        }

        &.right{
            &:hover:not(active-element){
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            &.active-element{
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}

.sponsors-table{
    display: none;
}

.modal-content-height{
    height: 200px;
}

.bs-example-modal-sm{
    .input-group{
        &.rounded-short{
            .form-control{
                width: 100%;
            }
        }
    }
}

.scroll-wrapper-for-table{
    max-height: 400px;
    margin-top: 30px;
}

/*--------------------------------------------------------------
# Main sitebar
--------------------------------------------------------------*/

.skin-black-light .main-header .navbar .navbar-nav > li > a{
    border-left: none !important;
    height: 50px !important;
    display: flex !important;
}

.sidebar-toggle{
    padding: 17px 15px !important;

    &::before{
        content: none !important;
    }
}

.custom-logout{
    background: #fafafa;

    &:hover{
        background: #dadada !important;
    }
}

.custom-notifications{
    .icon-notification{
        font-size: 21px;
    }

    .label.label-warning{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #50d8af !important;
        border: 2px solid #dcf7ef !important;

        bottom: 8px !important;
        right: 2px !important;
        font-size: 9px !important;
        top: unset !important;
    }
}

.custom-notifications-elements-wrapper{
    margin-top: 12px !important;
    width: 330px !important;

    .header{
        background: #577efe !important;
        color: #fff !important;
    }

    .elements{
        padding-right: 10px;
        padding-top: 8px;
        padding-left: 10px;

        .menu{
            li{
                padding: 10px 8px;
                overflow: hidden;
                background: #fafafa;
                margin-bottom: 8px;
                border-radius: 10px;

                a{
                    height: 15px;
                    padding: 0 !important;
                    white-space: nowrap;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                    color: #373737;
                    display: block;
                }
            }
        }

        .mCSB_inside > .mCSB_container{
            margin-right: 20px;
        }
    }

    .footer-custom{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.custom-profile-block-header{
    align-items: center;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 0 !important;

    span{
        &:first-child{
            font-weight: bold;
            margin-right: 10px;
        }

        &:last-child{
            margin-left: 5px;

            i{
                font-size: 22px;
            }
        }
    }
}

.sidebar-menu{
    li{
        &.active{
            &>a{
                background: none !important;
                color: #50d8af !important;

                i{
                    color: #50d8af;

                    &::after{
                        content: '';
                        height: 2px;
                        width: 100%;
                        display: block;
                        border-bottom: 2px solid #50d8af;
                        margin-top: 3px;
                    }
                }
            }
        }
        &:hover{
            &>a{
                background: none !important;
                color: #50d8af !important;

                i{
                    color: #50d8af;

                    &::after{
                        content: '';
                        height: 2px;
                        width: 100%;
                        display: block;
                        border-bottom: 2px solid #50d8af;
                        margin-top: 3px;
                    }
                }
            }
        }

        &>a{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #373737 !important;

            i{
                font-size: 24px;
                margin-right: 5px;
                color: #373737;

                &::after{
                    content: '';
                    height: 2px;
                    width: 100%;
                    display: block;
                    border-bottom: 2px solid transparent;
                    margin-top: 3px;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
.content-wrapper{
    background-color: #f2f2f2;
}

/*--------------------------------------------------------------
# mCSB - Custom Scroll Bar
--------------------------------------------------------------*/
.mCSB_scrollTools{
    .mCSB_draggerContainer{
        right: -10px;
    }
}

/*--------------------------------------------------------------
# Box
--------------------------------------------------------------*/
.box {
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px #eaeaea;
    box-shadow: 0 0 10px #eaeaea;

    &.h-280{
        height: 280px;
    }

    &.h-300{
        height: 300px;
    }

    &.h-330{
        height: 330px;
    }

    &.h-390{
        height: 390px;
    }

    &.h-415{
        height: 415px;
    }

    &.h-430{
        height: 430px;
    }

    &.bg-custom-grey{
        background-color: #fafafa;
    }

    &.no-radius-right{
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;

        .box-footer{
            border-bottom-right-radius: 0;
        }
    }

    &.no-radius-left{
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        .box-footer{
            border-bottom-left-radius: 0;
        }
    }

    .box-header{
        &.normal-padding{
            padding: 5px 25px;
        }

        &.with-border{
            border-bottom: none;
        }

        &.radius-top{
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }

        &.custom-background{
            background: #fafafa;
        }

        .box-header-wrapper{

        }
    }

    .box-footer{
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;

        &.no-border{
            border-top: none;
        }
    }
}

/*--------------------------------------------------------------
# td styles
--------------------------------------------------------------*/
td{
    &.w-80{
        width: 80px;
    }
    &.w-85{
        width: 85px;
    }
    &.w-105{
        width: 105px;
    }
    &.w-115{
        width: 115px;
    }

    &.td-text-right{
        text-align: right;
    }

    &.centered{
        .button-block{
            justify-content: center;
        }
        .center-text{
            justify-content: center;
        }
        button{
            text-align: center;
        }
    }
}

.justify-center{
    justify-content: center;
}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn{
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;

    &.little-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
}

//btn-primary
.btn-primary-outline {
    color: #577efe;
    background: transparent;
}

.btn-primary, .btn-primary-outline {
    border-color: #577efe;
}

.btn-primary, .btn-primary-outline:hover{
    color: #fff;
    background-color: #577efe !important;
}

//btn-success
.btn-success-outline {
    color: #50d8af;
    background: transparent;
}

.btn-success, .btn-success-outline {
    border-color: #50d8af;
}

.btn-success, .btn-success-outline:hover{
    color: #fff;
    background-color: #50d8af !important;
}

//btn-success
.btn-danger-outline {
    color: #d9534f;
    background: transparent;
}

.btn-danger, .btn-danger-outline {
    border-color: #d9534f;
}

.btn-danger, .btn-danger-outline:hover{
    color: #fff;
    background-color: #d9534f !important;
}

//btn-default
.btn-default-outline {
    color: #d0d0d0;
    border: 1px solid #d0d0d0;
    background: transparent;
}

.btn-default, .btn-default-outline-outline {
    border-color: #d0d0d0;
}

.btn-default, .btn-default-outline:hover{
    color: #fff;
    background-color: #d0d0d0 !important;
}

//btn-default-without-border
.btn-default-outline{
    &.without-border{
        border: none;

        &:hover, &:focus{
            background: transparent !important;
            background-color: transparent !important;
            color: #d0d0d0;
        }
    }
}


/*--------------------------------------------------------------
# Form elements for boxes
--------------------------------------------------------------*/

.input-group{
    &.rounded-short{
        .input-group-addon{
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .form-control{
            width: 200px;
            height: 32px;
            border: 1px solid #ccc;
            border-left: none;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            &:active, &:focus{
                border-color: #d2d6de;
            }
        }
    }
}


/*--------------------------------------------------------------
# Form elements for all page
--------------------------------------------------------------*/
.form-control{
    border: none;
    border-bottom: 2px solid #e2e2e2;

    &:active,
    &:focus{
        border-bottom: 2px solid #577efe;
    }
}

.trial-form-layout{
    .form-group{
        margin-left: 0;
        margin-right: 0;

        .input-group-addon{
            border: none;
            border-bottom: 2px solid #e2e2e2;
        }

        .select2{
            .select2-selection{
                border: 0 !important;
                border-bottom: 2px solid #e2e2e2 !important;
            }

            &.select2-container--open{
                .select2-selection{
                    border-bottom: 2px solid #577efe !important;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.d-flex{
    display: flex;
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.pt-0{
    padding-top: 0;
}

.pt-5{
    padding-top: 5px;
}

.pl-6{
    padding-left: 6px;
}

.py-20{
    padding: 20px 0;
}

.p-0{
    padding: 0;
}

.color{
    &.orange{
        color: #f39c12;
    }

    &.green{
        color: #50d8af;
    }

    &.gray{
        color: #e8e8e8;
    }

    &.yellow{
        color: #ffe47a;
    }
}

.no-padding{
    padding-right: 0;
    padding-left: 0;
}

.no-margin{
    margin-right: 0;
    margin-left: 0;
}

.dashboard-box-header-padding{
    padding: 15px 20px 15px 20px;
}

.dashboard-box-body-padding{
    padding: 0 20px 15px 20px;
}

.dashboard-box-footer-padding{
    padding: 10px 20px 10px 20px;
}

.dashboard-box-body-operation-padding{
    padding: 20px 20px 15px 20px;
}

.big-padding{
    padding: 5px 25px;
}

.ml-15{
    margin-left: 15px;
}

.mr-5{
    margin-right: 5px;
}

.mr-20{
    margin-right: 20px;
}

.ml-5{
    margin-left: 5px;
}

.mb-15{
    margin-bottom: 15px;
}

.mb-0{
    margin-bottom: 0;
}

.w-50{
    width: 50px;
}

.margin-minus-15{
    margin-top: -15px;
}

.w-100{
    width: 100px;
}

.w-100-p{
    width: 100%;
}

.h-60{
    height: 60px;
}

.f-20{
    font-size: 20px;
}

.f-13{
    font-size: 13px;
}

.icon-grey{
    color: #d3d3d3;
}

.flex-center{
    display: flex;
    align-items: center;
}

.box-operation-height{
    height: 300px;
}

.box-body-operation-height{
    height: 230px;
    max-height: 230px
}

.circle{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;

    &.gray{
        background: #e8e8e8;
    }

    &.yellow{
        background: #ffe47a;
    }

    &.orange{
        background: #f39c12;
    }

    &.green{
        background: #50d8af;
    }

    &.red{
        background: #d9534f;
    }
}

.search-contact-elements{
    .contacts-name-column{
        width: 115px;
    }
}

/*--------------------------------------------------------------
# User profile form
--------------------------------------------------------------*/

.no-float{
    float: none;
    margin-bottom: 15px;

    .box{
        margin-bottom: 0;
        height: 100%;
    }
}

.avatar-section-wrapper{
    .user-name{
        color: #aaaaaa;
        font-size: 18px;
        margin-bottom: 15px;

        .hello{
            font-size: 14px;
            display: block;
        }
    }

    .avatar-wrapper{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        position: relative;

        &:hover{
            .avatar-overlay{
                display: block;
                cursor: pointer;
            }
        }

        .avatar-overlay{
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: rgba(0,0,0, 0.6);
        }

        #user-avatar-remove{
            position: absolute;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .button-upload-avatar{
        text-align: center;
        margin-top: 20px;
    }
}

.notifications-section{
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 345px;

    &-header{
        p{
            font-weight: bold;
            color: #aaaaaa;
            font-size: 14px;
        }
    }

    &-content{
        height: 275px;
        margin-top: 15px;

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                padding: 10px 5px;
                background: #fafafa;
                border-radius: 10px;
                margin-bottom: 8px;

                &.line-notification{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                a{
                    color: #373737;
                }
            }
        }
    }
}

.password-section{
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 345px;

    &-header{
        p{
            font-weight: bold;
            color: #aaaaaa;
            font-size: 14px;
        }
    }

    &-content{
        margin-top: 70px;
    }

    .button-save-password{
        text-align: center;
        margin-bottom: 20px;
        margin-top: auto;
    }
}

.section-title{
    color: #aaaaaa;
}

.user-roles{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .user-role{
        border: 1px solid #aaaaaa;
        border-radius: 10px;
        padding: 3px 15px;
        margin-right: 15px;
        font-weight: bold;
        color: #aaaaaa;
        font-size: 14px;
        margin-bottom: 5px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.info-settings{
    .form-group{
        .input-group-addon{
            border: none;
            border-bottom: 2px solid #e2e2e2;
        }
    }
}


/*--------------------------------------------------------------
# Chat form
--------------------------------------------------------------*/
.chat-switcher{
    margin-bottom: 35px;
}

.chat-switcher-toggle{
    margin: 0 10px;
    background: #eaeaea;
    height: 32px;
    border-radius: 15px;

    a{
        text-align: center;
        width: 85px;
        padding: 6px 8px;
        height: 32px;
        display: inline-block;
        text-decoration: none;
        color: #6a6a6a;

        &:hover:not(active-element){
            background: #eaeaea !important;
            cursor: pointer;
        }

        &.active-element{
            background-color: #376bff;
            color: #fff;
            border-radius: 15px;

            &:hover{
                background-color: #376bff !important;
            }
        }

        &.left{
            &:hover:not(active-element){
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }

            &.active-element{
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
        }

        &.right{
            &:hover:not(active-element){
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            &.active-element{
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}


.chats-wrapper{
    height: 400px;

    &-tabs{
        display: flex;
        align-items: center;

        &-item{
            width: 50%;
            padding: 15px 5px;
            border-top: 2px solid transparent;
            cursor: pointer;
            font-size: 16px;
            color: #8b8d91;

            &:first-child{
                position: relative;

                &::after{
                    content: '';
                    width: 1px;
                    height: 25px;
                    border-right: 1px solid #8b8d91;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &.active{
                border-top: 2px solid #376bff;
                color: #577efe;
            }

            span{
                text-align: center;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &-content{
        &-items{
            display: none;

            &.active{
                display: block;
            }

            .users-wrapper{
                &-item{
                    padding: 5px;
                    border-radius: 10px;
                    background: #eaeaea;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: flex-start;
                    cursor: pointer;

                    &-avatar{
                        width: 50px;
                        height: 50px;
                        color: white;
                        font-size: 19px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #50d8af;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    &-message{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;

                        &-user-name{
                            margin-top: 5px;
                            font-weight: bold;
                            font-size: 15px;
                            width: 130px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: #000;
                        }

                        &-user-message{
                            font-size: 14px;
                            color: #8b8d91;
                            width: 130px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    &-time{
                        margin-left: auto;
                        align-self: flex-end;
                        margin-bottom: 5px;
                        font-size: 13px;
                        color: #8b8d91;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}


/*--------------------------------------------------------------
# Trial form
--------------------------------------------------------------*/
.trial-form-layout{
    &-left{
        padding: 15px;
        background: #fafafa;
        height: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        &-chart{
            &-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 8px;
                margin-bottom: 25px;

                p{
                    font-size: 13px;
                    font-weight: bold;
                    margin-left: 8px;
                }
            }
        }

        &-buttons{
            text-align: center;
            margin-top: 40px;
        }
    }

    &-right{
        padding: 20px;

        &-title{
            margin-bottom: 15px;

            p{
                color: #a5a5a5;
            }
        }
    }

    label{
        font-size: 13px;
    }

    .form-control{
        background: transparent;
        font-size: 13px;
    }

    .form-group{
        &.label-inline{
            display: flex;
            align-items: center;
            justify-content: space-between;

            label{
                font-size: 13px;
                width: 70px;
            }

            .form-control{
                display: inline-block;
                width: 70%;
                font-size: 13px;
            }
        }
    }
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.table{
    border-spacing: 0 10px;
    border-collapse: separate;

    &:hover{
        thead{
            tr{
                th{
                    color: #827474;
                }
            }
        }
    }

    thead{
        tr{
            th{
                border-bottom: 1px solid #f3f3f3;
                border-top: none;
                padding: 5px 8px;
                font-size: 13px;
                color: #c0c0c0;
                font-weight: normal;

                transition: color 1s ease;
            }
        }
    }

    tbody{
        tr{
            &:first-child{
                td{
                    border-top: none;
                }
            }

            td{
                background: #fafafa;
                vertical-align: middle;

                &:first-child{
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }

                &:last-child{
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }

            &:hover{
                background-color: transparent;
            }
        }
    }

    tfoot{
        tr{
            td{
                border-top:none;
            }
        }
    }
}


/*--------------------------------------------------------------
# Range slider bootstrap slider
--------------------------------------------------------------*/
.slider{
    &.slider-horizontal{
        .tooltip{
            transform: translateX(-50%);
        }

        .slider-track{
            margin-top: 0;
            transform: translateY(-50%);
            background-image: none;
            height: 6px;

            .slider-track-low{
                background: #f6f6f6;
            }

            .slider-selection{
                background-image: none;
                background-color: rgb(87, 126, 254);
                box-shadow: none;
            }

            .slider-track-high{
                background: #f6f6f6;
            }
        }

        .slider-handle.min-slider-handle{
            width: 15px;
            height: 15px;
            background-color: rgb(87, 126, 254);
            background-image: none;
            top: 50%;
            transform: translateY(-50%);
        }

        .slider-handle.max-slider-handle{
            width: 15px;
            height: 15px;
            background-color: rgb(87, 126, 254);
            background-image: none;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal{
    .modal-dialog{
        &.modal-sm{
            width: 400px;
        }

        .modal-content{
            border-radius: 10px 10px 0 0;

            .modal-header{
                border: none;
                background: #376bff;
                color: white;
                border-radius: 10px 10px 0 0;
                padding: 10px 15px;

                .close{
                    opacity: 1;
                    margin-top: 3px;

                    span{
                        color: #fffdfd;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.main-header{
    .logo{
        border-bottom: 1px solid #dedcdc;
        border-right: 1px solid #dedcdc;
    }

    nav.navbar{
        &.navbar-static-top a {
            color: black !important;

            &.sidebar-toggle{
                border-right: 1px solid #dedcdc;
            }

            &:hover{
                color: black !important;
            }
        }
    }
}



/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

@media (max-width: 1200px) {
    .box{
        &.no-radius-right{
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
        }

        &.no-radius-left{
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }
    }

    .trial-operations{
        &-operation{
            &-button{
                width: 50%;
                margin-top: 15px;
            }
        }
    }

    .box-operation-height{
        height: auto;
    }

    .box-body-operation-height{
        height: auto;
        max-height: none;
    }
}

@media (max-width: 768px) {
    .box{
        &.h-280{
            height: auto;
        }
    }

    .dashboard-fixed-height.only-this{
        height: auto;
        max-height: initial;
    }

    .trial-operations{
        flex-direction: column;

        & .operation-create{
            margin-bottom: 30px;

            .deliver{
                display: none;
            }
        }

        &-operation{
            width: 100%;

            &-short{
                p{
                    height: auto;
                }
            }

            &-button{
                width: 150px;
            }
        }
    }

    .table-responsive{
        border: none;
    }
}
