@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot');
    src:  url('../fonts/icomoon/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dislike:before {
    content: "\e93c";
}
.icon-like:before {
    content: "\e93d";
}
.icon-left-arrow1:before {
    content: "\e93e";
}
.icon-right-arrow1:before {
    content: "\e93f";
}
.icon-add-2:before {
    content: "\e900";
}
.icon-add-user:before {
    content: "\e901";
}
.icon-add:before {
    content: "\e902";
}
.icon-back-arrow:before {
    content: "\e903";
}
.icon-blood-test-1:before {
    content: "\e904";
}
.icon-blood-test:before {
    content: "\e905";
}
.icon-board-games-with-roles:before {
    content: "\e906";
}
.icon-businessman-in-a-lab-flask-experimentation-symbol:before {
    content: "\e907";
}
.icon-calendar:before {
    content: "\e908";
}
.icon-caution-sign:before {
    content: "\e909";
}
.icon-caution-sing:before {
    content: "\e90a";
}
.icon-close:before {
    content: "\e90b";
}
.icon-cloud-storage-download:before {
    content: "\e90c";
}
.icon-copy-content:before {
    content: "\e90d";
}
.icon-credit-card:before {
    content: "\e90e";
}
.icon-doctor-stethoscope:before {
    content: "\e90f";
}
.icon-down-arrow:before {
    content: "\e910";
}
.icon-edit:before {
    content: "\e911";
}
.icon-eye:before {
    content: "\e912";
}
.icon-folder-back:before {
    content: "\e913";
}
.icon-folder-share:before {
    content: "\e914";
}
.icon-folder-symbol:before {
    content: "\e915";
}
.icon-garbage:before {
    content: "\e916";
}
.icon-gender:before {
    content: "\e917";
}
.icon-group:before {
    content: "\e918";
}
.icon-hand-shake:before {
    content: "\e919";
}
.icon-heart:before {
    content: "\e91a";
}
.icon-homepage:before {
    content: "\e91b";
}
.icon-import:before {
    content: "\e91c";
}
.icon-invitation:before {
    content: "\e91d";
}
.icon-left-arrow:before {
    content: "\e91e";
}
.icon-lock:before {
    content: "\e91f";
}
.icon-magnifying-glass:before {
    content: "\e920";
}
.icon-mail:before {
    content: "\e921";
}
.icon-medical-kit:before {
    content: "\e922";
}
.icon-menu-1:before {
    content: "\e923";
}
.icon-menu:before {
    content: "\e924";
}
.icon-multiple-users-silhouette:before {
    content: "\e925";
}
.icon-notification:before {
    content: "\e926";
}
.icon-paper-plane-1:before {
    content: "\e927";
}
.icon-paper-plane:before {
    content: "\e928";
}
.icon-phone-receiver:before {
    content: "\e929";
}
.icon-pin-1:before {
    content: "\e92a";
}
.icon-pin:before {
    content: "\e92b";
}
.icon-plus-18-movie:before {
    content: "\e92c";
}
.icon-problem:before {
    content: "\e92d";
}
.icon-resize:before {
    content: "\e92e";
}
.icon-right-arrow:before {
    content: "\e92f";
}
.icon-scheme:before {
    content: "\e930";
}
.icon-settings:before {
    content: "\e931";
}
.icon-share:before {
    content: "\e932";
}
.icon-shopping-cart-black-shape:before {
    content: "\e933";
}
.icon-smiling-emoticon-square-face:before {
    content: "\e934";
}
.icon-sort:before {
    content: "\e935";
}
.icon-speedometer-tool:before {
    content: "\e936";
}
.icon-tick-1:before {
    content: "\e937";
}
.icon-turn-on:before {
    content: "\e938";
}
.icon-up-arrow:before {
    content: "\e939";
}
.icon-upload:before {
    content: "\e93a";
}
.icon-user:before {
    content: "\e93b";
}
