<template>
    <div class="input-group enter-message-block">
        <input id="btn-input" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">

        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
                Send
            </button>
        </span>
    </div>
</template>

<script>
    export default {
        props: ['user', 'room_id'],

        data() {
            return {
                newMessage: '',
            }
        },

        methods: {
            sendMessage() {
                if(this.newMessage.length === 0) return;

                this.$emit('messagesent', {
                    user: this.user,
                    message: this.newMessage,
                    created_at: '',
                    room_id: this.room_id,
                });

                this.newMessage = ''
            },
        }
    }
</script>