<template>
    <ul class="chat">
        <li class="left clearfix" v-for="(message, index) in messages"
            :class="isNextMsgFromSameUser(index) ? 'chat-message-mb' : ''">
            <div class="message-body">

                <div v-if="isPreviousMsgFromSameUser(index)" class="message-info">
                    <span class="message-name"
                          :class="isCurrentUsersMessage(message.user) ? 'pull-right' : 'pull-left'">
                        {{ message.user.name }}
                    </span>
                    <!-- /.message-name -->
                </div>
            </div>
                <!-- /.message-info -->

            <div class="message-text-wrapper"
                     :class="{
                    'justify-end display-none-avatar': isCurrentUsersMessage(message.user)
                }">
                    <div class="message-text-box"
                         :class="{
                        'pull-right': isCurrentUsersMessage(message.user),
                        'current-user-message': isCurrentUsersMessage(message.user),
                        }">
                        <div class="message-text">
                            {{ message.message }}
                        </div>
                        <!-- /.message-text -->

                        <span class="message-time">
                            {{ message.created_at }}
                        </span>
                        <!-- /.message-time -->
                    </div>
                <!-- /.message-text-box -->
            </div>
            <!-- /.message-body -->
        </li>
        <!-- /.left -->
    </ul>
    <!-- /.chat -->
</template>

<script>
    export default {
        props: ['messages', 'user'],

        methods: {

            isCurrentUsersMessage(usr) {
                return this.user.id === usr.id;
            },

            isPreviousMsgFromSameUser(index) {
                if(index === 0) return true;

                return this.messages[index].user.name !== this.messages[index - 1].user.name;
            },

            isNextMsgFromSameUser(index) {

                if((index + 1) === this.messages.length) return false;

                return this.messages[index].user.name !==
                    this.messages[index + 1].user.name;
            },

            scrollToEnd() {
                const container = document.querySelector('.message-list');
                $(container).mCustomScrollbar("scrollTo",'bottom');
            },
        },

        updated() {
            this.$nextTick(() => {
                this.scrollToEnd();
            });
        },
    }
</script>

<style>
    .message-text-wrapper{
        display: flex;
        align-items: flex-end;
    }
    .message-text-wrapper.justify-end{
        justify-content: flex-end;
    }
    .message-text-wrapper.display-none-avatar .user-avatar{
        display: none;
    }

    .user-avatar{
        width: 40px;
        height: 40px;
        color: white;
        font-size: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: green;
        border-radius: 50%;
        margin-right: 10px;
    }

    .chat {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .chat li {
        padding-bottom: .3rem;
    }

    .chat li .message-body p {
        margin: 0;
        color: #1b1b1b;
    }

    .message-info {
        display: block;
        height: 25px;
    }

    .message-name {
        font-weight: bold;
        font-size: .8rem;
    }

    .message-time {
        display: block;
        font-size: .8rem;
        text-align: right;
        margin-top: 5px;
    }

    .message-text {
        width: fit-content;
        max-width: 100%;
        color: black;
        word-wrap: break-word;
    }

    .message-text-box {
        position: relative;
        width: fit-content;
        background-color: #eaeaea;
        padding: .5rem 1.2rem;
        border-radius: .6rem;
        max-width: 70%;
    }

    .chat-message-mb {
        margin-bottom: .6rem;
    }

    .current-user-message {
        color: white;
        background-color: #577efe;
    }

    .current-user-message .message-text {
        color: white;
    }

    .message-list {
        overflow-y: auto;
        height: 500px;
        max-width: 100%;
    }

    @media (max-width: 768px) {
        .message-list{
            height: 300px;
        }
    }

    .room-list ul {
        list-style: none;
        padding-left: .5rem;
    }
</style>
