<template>
    <span class="circle mr-5 green" v-if="checkUser()"></span>
    <span class="circle mr-5 red" v-else></span>
</template>

<script>
    export default {
        props: ['user','onlineusers'],
        methods: {
            checkUser: function() {
                return _.find(this.onlineusers, {id: this.user.id});
            }
        }
    }
</script>

<style scoped>
    .red {
        color: red;
    }

    .green {
        color: green;
    }
</style>
